@charset "utf-8";
* {
    margin: 0;
    text-decoration: none;
    list-style: none;
}
.header-section {
    position: relative;
    width: 100%;
    padding: 10px;
    height: 550px;
    background: #1F2937;
    box-sizing: border-box; 
}
.left-container {
    float: left;
    margin-left: 40px;
    display: flex;
}
.left-container img {
    width: 60px;
    height: 55px;
    border-radius: 50%; 
}
.left-container .logo {
    font-size: 30px;
    margin-left: 10px;
    margin-top: 10px;
    color: #f9faf8;
}
nav {
    float: right;
}
.clearfix{
    clear: both;
}
nav ul{
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li a {
    display: block;
    margin: 10px 30px;
    padding: 10px 30px;
    color: #f9faf8;
}
nav ul li a:hover
 {
    background: grey;
    color: #fff;
    text-decoration: underline;
    border-radius: 10px;

}
.text-container {
    margin-top: 150px;
    color: #fff;
    margin-left: 100px;
}
.text-container p:nth-child(1) {
    font-family: myriad pro regular;
    font-size: 48px;
    color: #f9faf8;
}
.text-container p:nth-child(2) {
    font-family: myriad pro regular;
    font-size: 25px;
    margin-left: 10px;
}
.text-wrapper {
    width: 350px;
}
.text-wrapper p:nth-last-child(1) {
    font-size: 18px;
    color: #e5e7eb;
}
.book-ticket {
    background-color: #3882F6;
    width: auto;
    height: 35px;
    margin-left: 40px;
    margin-top: 15px;
    border-radius: 10px;
    color: #fff;
    border-color: #e5e7eb;
}
.img-container img {
    background-color: transparent;
    width: 800px;
    height: 450px;
    margin-left: 550px;
    margin-top: -300px;
}
/* Service Container */
.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.services-container .content-wrapper {
    width: 150px;
    height: 150px;
    padding: 60px 30px;
    margin: 20px;
    background: #f2f3f7;
    box-shadow: 0.6em 0.6em 1.2em #d2dce9,
                -0.5em -0.5em 1em #fff;
    border-radius: 20px;
}
.services-container .content-wrapper .image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.services-container .content-wrapper .image-wrapper .imgBx {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: relative;
    margin-bottom: 20px;
    overflow: hidden;
}
.services-container .content-wrapper .image-wrapper .imgBx img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.services {
    text-align: center;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}
.services-container .content-wrapper .content-details {
    margin-top: 20px;
    color: #1F2937;
}